<div id="workoutBg">
<title>Title</title>
<div>description</div>
<ul>Exercises
<li>exercise 1</li> 
<li>exercise2</li>

 {{#each workouts}}
      <div>
{{this.name}}
{{this.description}}

      </div>
    {{/each}}
name:
    {{name}}




</div>
